/*{{#info}}
    {{title}} generated{{#description}}
        {{description}}{{/description}}
    version: {{version}}{{#contact}}
        Contact name: {{name}}
        Contact email: {{email}}
        url: {{& url}}{{/contact}}
{{/info}}*/
{{#api}}

module.exports = class {{name}} {
    constructor(private app: any) {
{{#methods}}
        app.{{method}}('{{{processedUrl}}}', (req: any, res: any) => this.{{name}}(req, res));
{{/methods}}
        console.log('{{name}} registered');
    }
{{#methods}}

    {{name}}(req: any, res: any): void {
    {{#jsonContent}}
        res.setHeader('Content-Type', 'application/json-patch+json');
    {{/jsonContent}}
        const body = req.body;
        const params = req.params;
        const query = req.query;
        console.log('{{name}}', {body, params, query});
        res.send({
        });
    }
{{/methods}}
};
{{/api}}
