/*{{#info}}
    {{title}} generated{{#description}}
    {{description}}{{/description}}
    version: {{version}}{{#contact}}
    Contact name: {{name}}
    Contact email: {{email}}
    url: {{& url}}{{/contact}}
{{/info}}*/

{{#model}}
export class {{name}} {
{{#properties}}
    {{name}}{{^nullable}}?{{/nullable}}: {{type}};
{{/properties}}

    constructor(obj: {{name}}) {
    {{#properties}}
        this.{{name}} = obj.{{name}};
    {{/properties}}
    }
}
{{/model}}
